{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
  {% block navbar %}
        {%
          set navbar_classes = [
                'navbar',
                theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
                theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class : container,
          ]
        %}
        <header{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="banner">
            {% if not navbar_attributes.hasClass(container) %}
            <div class="container">
            {% endif %}
                <div class="navbar-header">
                    {{ page.navigation }}
                    {# .btn-navbar is used as the toggle for collapsed navbar content #}
                        {% if page.navigation_collapsible %}
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        {% endif %}
                </div>
                    {# Navigation (collapsible) #}
                        {% if page.navigation_collapsible %}
                            <div id="navbar-collapse" class="navbar-collapse collapse">
                            {{ page.navigation_collapsible }}
                            </div>
                        {% endif %}
                        {% if not navbar_attributes.hasClass(container) %}
            </div>
            {% endif %}
        </header>
  {% endblock %}
{% endif %}   
{# Header #}
{# <div class="main-header {{ container }}"> #}
<div class="main-header container">
    {# CityU User Menu #}
    {% if page.cityu_user_menu %}
        {% block cityu_user_menu %}
            <div class="col-sm-12">
                {{ page.cityu_user_menu }}
            </div>
        {% endblock %}
    {% endif %}
    {# Header Right #}
    {% if page.header_right %}
        {% block header_right %}    
            <aside class="col-sm-2" role="heading">
                {{ page.header_right }}
            </aside>
         {% endblock %}
    {% endif %}
    {# Header Left #}
    {%
        set header_classes = [
            page.header_right ? 'col-sm-10',
            page.header_right is empty ? 'col-sm-12'
        ]
    %}
    <section{{ header_attributes.addClass(header_classes) }}>    
        {% if page.header %}
            {% block header %}
                <div role="heading">
                    {{ page.header }}
                </div>
             {% endblock %}
        {% endif %}
    </section>
    {# Primary Menu #}
    {% if page.primary_menu %}
        {% block primary_menu %}
            <div class="col-sm-12">
                {{ page.primary_menu }}
            </div>
         {% endblock %}
    {% endif %}
</div>

