
<div class="add_program">


<h1>General Information</h1>
{{ content.field_prog_title }}
{{ content.field_prog_title_chi }}

{{ content.field_dept_code }}
{{ content.field_admit_year }}
{{ content.field_mode_of_fund }}
{{ content.field_admit_prog_code }}
{{ content.field_mode_of_study }}
{{ content.field_class_schedule }}
{{ content.field_intake_quota }}
{{ content.field_min_credit_req }}
{{ content.field_duration }}
{{ content.field_rolling_basis }}
{{ content.field_pcms_admit_office_email }}
{{ content.field_staff_contact }}
{{ content.field_remark }}




<h1>Programmes Application Dates</h1>
<div class="prog_app_date">
    <div>
    {{ content.field_app_start_date }}
    </div>
    <div>
    {{ content.field_app_deadline }}
    {{ content.field_app_deadline_nl }}
    </div>
    <div>
    {{ content.field_app_ext_deadline }}
    {{ content.field_app_ext_deadline_nl }}
    </div>
</div>
    
    
    
<h1>Outline</h1>
{{ content.field_outline }}



<h1>Publication</h1>
{{ content.field_version }}
{{ content.field_date_from }}
{{ content.field_date_to }}
{{ content.field_support_due }}
{{ content.field_status_code }}
{{ content.field_bit_web_viewable }}
{{ content.field_viewable_by_public }}
{{ content.field_permissions_by_term }}

    
<h1>Admission</h1>
{{ content.field_admit_office }}
{{ content.field_coll_code }}
{{ content.field_level_code }}


<h1>Others</h1>
{{ content.field_id_prospectus }}
{{ content.field_level_name }}
{{ content.field_level_short_name }}


{{ content.field_bit_deleted }}
{{ content.field_admit_type }}


<div class="pcms">
{{ content.field_pcms }}
</div>


<h1>Front-End related</h1>

<div>
<h3>TPg-Prog List-Accept Late</h3>

{{ content.field_app_deadline_accept_late}}
{{ content.field_app_deadline_nl_accept_lat }}
</div>

<div>
<h3>TPg-Prog List-Apply Now</h3>
{{ content.field_url_apply }}
{{ content.field_url_video }}
{{ content.field_url_website }}
</div>


<div>
<h3>TPg-Prog List-Remark</h3>
{{ content.field_mode_of_study_remark }}
{{ content.field_remark_prog_list }}
</div>


<div>
<h3>Prog Summary</h3>
{{ content.field_summary }}
</div>

<div class="prog_image">
<h3>Prog Image</h3>
<div>{{ content.field_prog_image }}</div>

</div>




{{ content.field_files }}

{{ content.field_inter_award }}


{{ content.field_duration_max }}
{{ content.field_url_social_media }}











{{ content.field_require_eng_profi }}
{{ content.field_require_min_ent }}




</div>

