{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% include directory ~'/partials/header.html.twig' %}
{# Main #}
{% block main %}
    <div role="main" class="main-container {{ container }} js-quickedit-main-content">
        <div>
            {# Banner #}
                {% if page.banner %}
                    {% block banner %}		
                        <div>{{ page.banner }}</div>
                    {% endblock %}
                {% endif %}             
            {# Secondary Menu #}
		{% if page.secondary_menu %}
                    {% block secondary_menu %}		
                        <div>{{ page.secondary_menu }}</div>
                    {% endblock %}
		{% endif %}			
            {# Sidebar Left #}
                {% if page.sidebar_left %}
                    {% block sidebar_left %}
                        <aside class="col-sm-3" role="complementary">
                            {{ page.sidebar_left }}
                        </aside>
                    {% endblock %}
                {% endif %}
            {# Content #}
                {%
                    set content_classes = [
                        page.sidebar_left and page.sidebar_right ? 'col-sm-6',
                        page.sidebar_left and page.sidebar_right is empty ? 'col-sm-9',
                        page.sidebar_right and page.sidebar_left is empty ? 'col-sm-9',
                        page.sidebar_left is empty and page.sidebar_right is empty ? 'col-sm-12'
                    ]
                %}
            <section{{ content_attributes.addClass(content_classes) }}>
                {# Highlighted #}
                    {% if page.highlighted %}
                        {% block highlighted %}
                            <div class="highlighted">{{ page.highlighted }}</div>
                        {% endblock %}
                    {% endif %}
                {# Breadcrumbs #}
                    {% if breadcrumb %}
                        {% block breadcrumb %}
                            {{ page.breadcrumb }}
                        {% endblock %}
                    {% endif %}
                {# Action Links #}
                    {% if action_links %}
                        {% block action_links %}
                            <ul class="action-links">{{ page.action_links }}</ul>
                        {% endblock %}
                    {% endif %}
                {# Help #}
                    {% if page.help %}
                        {% block help %}
                            {{ page.help }}
                        {% endblock %}
                    {% endif %}
                {# Content #}
                    {% block content %}
                        <a id="main-content"></a>
                            {{ page.content }}
                    {% endblock %}
            </section>
            {# Sidebar Right #}
                {% if page.sidebar_right %}
                    {% block sidebar_right %}
                        <aside class="col-sm-3" role="complementary">
                            {{ page.sidebar_right }}
                        </aside>
                    {% endblock %}
                {% endif %}
        </div>
    </div>
{% endblock %}

{% include directory ~'/partials/footer.html.twig' %}