<div class="prog_title">
<div class="prog_title_eng">{{ label }}</div>
<div class="prog_title_chi">{{ content.field_prog_title_chi }}</div>
</div>



<div class="prog_general_info">
<table>
<tbody>
	<tr>
		<td><span class="prog_label">Year of Entry {{ content.field_admit_year.value.fieldDefinition.label }}</span></td><td><span class="prog_content">{{ content.field_admit_year.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">Mode of Funding</span></td><td><span class="prog_content">{{ content.field_mode_of_fund.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">Mode of Programme</span></td><td><span class="prog_content">{{ content.field_mode_of_study.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">Class Schedule</span></td><td><span class="prog_content">{{ content.field_class_schedule.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">Indicative Intake Target</span></td><td><span class="prog_content">{{ content.field_intake_quota.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">Minimum No. of Credits Required</span></td><td><span class="prog_content">{{ content.field_min_credit_req.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">Normal Duration of Programme</span></td><td><span class="prog_content">{{ content.field_duration.value }}</span></td>
	</tr>
	<tr>
		<td><span class="prog_label">Programme Website</span></td><td><span class="prog_content">{{ content.field_url_website.value }}</span> </td>
	</tr>
</tbody>
</table>
 
 
 
</div>


<div class="prog_outline">{{ content.field_outline.value }}</div>
